// Fonts
// Media Queries
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
// Colors
$primary: #05396b;
$secondary: #379583;
$tertiary: #4cb7a3;
$blue: #71cfd8;
$gray: #afafaf;
$light: #ffffff;
$light2: #eeeeee;
$dark: #000000;
