<footer class="footer">
    <div class="row">
        <div class="col-6 col-md-4 col-footer">
            <div class="title">Contáctanos</div>
            <p class="text">
                <a href="mailto:prestamo@empresa.com">prestamo@empresa.com</a>
            </p>
            <p class="text">
                123-4567
            </p>
            <p class="text">
                Bogotá, Colombia
            </p>
        </div>
        <div class="col-6 col-md-4 col-footer">
            <div class="title">Información</div>
            <p class="text">
                <a href="#">Términos y condiciones</a>
            </p>
            <p class="text">
                <a href="#">Preguntas frecuentes</a>
            </p>
            <p class="text">
                <a href="#">Ayuda</a>
            </p>
        </div>
        <div class="col-12 col-md-4 col-footer pt-2 pt-md-0">
            <div class="title">Síguenos</div>
            <div class="socials">
                <div class="social-link">
                    <a href="">
                        <img src="../../../../assets/images/footer/instagram.svg" class="img-fluid">
                    </a>
                </div>
                <div class="social-link">
                    <a href="">
                        <img src="../../../../assets/images/footer/facebook.svg" class="img-fluid">
                    </a>
                </div>
                <div class="social-link">
                    <a href="">
                        <img src="../../../../assets/images/footer/twitter.svg" class="img-fluid">
                    </a>
                </div>
                <div class="social-link">
                    <a href="">
                        <img src="../../../../assets/images/footer/youtube.svg" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="last-section">
                <div class="logo">Finowo</div>
                <div class="credits">
                    Powered by JAtech
                </div>
                <div class="terms">
                    Al ingresar a esta página estás aceptando nuestros <a href="#">Términos y condiciones</a> y nuestra <a href="#">Política de privacidad</a>
                </div>
                <div class="copyright">
                    Copyright <i class="mdi mdi-copyright"></i> 2020
                </div>
            </div>
        </div>
    </div>
</footer>
